# Mortalidad Materna

## Presentación

## Preámbulo

COMENTARIO: LLEGADA A LAS 11:20 AM.

Análisis de la información

    Para poder comprender los datos importaré la base de datos y comenzaré a conocer los indices, columnas, y occurrencias.

In [60]:
# Importar librerias necesarias.

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [61]:
# Conocer los datos

# Importar base de datos

mortalidad=pd.read_csv("mortalidad.csv")

# Ver la tabla
#print(mortalidad)

In [62]:
# Ver la tabla 
#pd.DataFrame(mortalidad)

In [63]:
# Ver la tabla (5 primeras filas)

mortalidad.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [64]:
#Cuantos registros se muestran en esta tabla para saber la dimensión.

len(mortalidad["Año de nacimiento"].unique())

81

In [65]:
#Cuales son las causas de mortalidad

mortalidad["Descrición de la razón de mortalidad materna"].unique()

array(['Muertes Maternas para la razón de Mortalidad Materna',
       'Muertes Maternas excluidas para la razón de Mortalidad Materna'],
      dtype=object)

In [66]:
#Revisar que columnas son 

mortalidad.keys()

Index(['Año de nacimiento', 'Mes de nacimiento',
       'Descripción del mes de nacimiento', 'Día de nacimiento', 'Genero',
       'Clave de la edad', 'Edad cumplida', 'Estado conyugal',
       'Descripción del estado conyugal', 'Entidad de residencia',
       'Descripción de entidad de residencia', 'Municipio de residencia',
       'Descripción del municipio de residencia', 'Localidad de residencia',
       'Descripión de la localidad de residencia', 'Tamaño de localidad',
       'Descripción del tamaño de localidad', 'Ocupación habitual',
       'Descripción de la ocupación habitual', 'Escolaridad',
       'Descripción de la escolaridad', 'Derechiahabiencia',
       'Descrición de la derechiahabiencia', 'Entidad de ocurrencia',
       'Descripción de la entidad de ocurrencia', 'Municipio de ocurrencia',
       'Descrición del municipio de ocurrencia', 'Localidad de ocurrencia',
       'Descrición de la localidad de ocurrencia',
       'Sitio donde ocurrio la defunción',
       'Descripción del sitio donde ocurrio la defunción',
       'Año de la defunción', 'Mes de la defunción',
       'Descrición del mes de la defunción', 'Día de la defunción',
       'Hora de la defunción', 'Minutos de la defunción', 'Asistencia médica',
       'Descripción de la asistencia médica', 'Causa CIE a  cuarto dígito',
       'Descrición de la causa CIE', 'Quien certificó',
       'Descrición de quien certificó', 'Entidad de registro',
       'Descrición de la entidad de registro', 'Municipio de registro',
       'Descrición del municipio de registro', 'Año de registro',
       'Mes de registro', 'Descripción del mes de registro', 'Día de registro',
       'Año de la certificación', 'Mes de la certificación',
       'Descripció del mes de la certificación', 'Día de la certificación',
       'Año de la base de datos', 'Razón de mortalidad materna',
       'Descrición de la razón de mortalidad materna'],
      dtype='object')

In [67]:
# sintetizar la tabla

mortalidad2=mortalidad.drop(['Genero','Mes de nacimiento','Día de nacimiento','Clave de la edad','Estado conyugal','Entidad de residencia','Municipio de residencia','Localidad de residencia','Tamaño de localidad','Ocupación habitual','Escolaridad','Derechiahabiencia','Entidad de ocurrencia','Municipio de ocurrencia','Localidad de ocurrencia','Sitio donde ocurrio la defunción','Mes de la defunción','Minutos de la defunción','Asistencia médica','Causa CIE a  cuarto dígito','Quien certificó','Entidad de registro','Municipio de registro','Año de registro'], axis=1)

#Ver tabla mortalidad2

mortalidad2.head()

,Año de nacimiento,Descripción del mes de nacimiento,Edad cumplida,Descripción del estado conyugal,Descripción de entidad de residencia,Descripción del municipio de residencia,Descripión de la localidad de residencia,Descripción del tamaño de localidad,Descripción de la ocupación habitual,Descripción de la escolaridad,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,JUNIO,29,CASADO,Yucatán,102 VALLADOLID,311020001 Valladolid,30000 a 39999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,FEBRERO,35,CASADO,Yucatán,096 TIZIMIN,310960001 Tizimín,30000 a 39999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,JUNIO,29,CASADO,Yucatán,062 SACALUM,310620001 Sacalum,2500 a 4999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,ENERO,36,CASADO,Yucatán,060 QUINTANA ROO,310600001 Quintana Roo,1 a 999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,NO ESPECIFICADO,30,CASADO,Distrito Federal,007 IZTAPALAPA,090070000 No especificado,No Especificado.,NO OCUPADOS,SECUNDARIA INCOMPLETA,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [69]:
#Revisar que solo sean mujeres

mortalidad["Genero"].unique()

array([2], dtype=int64)

In [ ]:
#Solo extraer información en la que la tabla tenga las mujeres con defuncion por maternidad

## Análisis inicial

### DataFrame 

Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia

In [70]:
# sintetizar la tabla

#extraer solo las muertes por maternidad

mortalidad3 = mortalidad2[mortalidad2["Descrición de la razón de mortalidad materna"] == 'Muertes Maternas para la razón de Mortalidad Materna']

#Ver tabla mortalidad3

mortalidad3.head()

,Año de nacimiento,Descripción del mes de nacimiento,Edad cumplida,Descripción del estado conyugal,Descripción de entidad de residencia,Descripción del municipio de residencia,Descripión de la localidad de residencia,Descripción del tamaño de localidad,Descripción de la ocupación habitual,Descripción de la escolaridad,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,JUNIO,29,CASADO,Yucatán,102 VALLADOLID,311020001 Valladolid,30000 a 39999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,FEBRERO,35,CASADO,Yucatán,096 TIZIMIN,310960001 Tizimín,30000 a 39999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,JUNIO,29,CASADO,Yucatán,062 SACALUM,310620001 Sacalum,2500 a 4999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,ENERO,36,CASADO,Yucatán,060 QUINTANA ROO,310600001 Quintana Roo,1 a 999 habitantes,NO OCUPADOS,PRIMARIA INCOMPLETA,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,NO ESPECIFICADO,30,CASADO,Distrito Federal,007 IZTAPALAPA,090070000 No especificado,No Especificado.,NO OCUPADOS,SECUNDARIA INCOMPLETA,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

In [77]:
#Tabla sintetizada como se ha pedido anteriormente (la idea era que de la tabla anterior solo dejar las columnas que se pedian pero no me deja me hace error)
mortalidad4=mortalidad.drop(['Año de nacimiento', 'Mes de nacimiento','Descripción del mes de nacimiento', 'Día de nacimiento', 'Genero','Clave de la edad', 'Estado conyugal', 'Entidad de residencia','Descripción de entidad de residencia', 'Municipio de residencia','Descripción del municipio de residencia', 'Localidad de residencia','Descripión de la localidad de residencia', 'Ocupación habitual','Descripción de la ocupación habitual', 'Escolaridad','Descripción de la escolaridad', 'Derechiahabiencia','Descrición de la derechiahabiencia', 'Entidad de ocurrencia','Descripción de la entidad de ocurrencia', 'Municipio de ocurrencia','Descrición del municipio de ocurrencia','Sitio donde ocurrio la defunción','Descripción del sitio donde ocurrio la defunción','Año de la defunción', 'Mes de la defunción','Descrición del mes de la defunción', 'Día de la defunción','Hora de la defunción', 'Minutos de la defunción', 'Asistencia médica','Descripción de la asistencia médica', 'Causa CIE a  cuarto dígito','Descrición de la causa CIE', 'Quien certificó','Descrición de quien certificó', 'Entidad de registro','Descrición de la entidad de registro', 'Municipio de registro','Descrición del municipio de registro', 'Año de registro','Mes de registro', 'Descripción del mes de registro', 'Día de registro','Año de la certificación', 'Mes de la certificación','Descripció del mes de la certificación', 'Día de la certificación','Año de la base de datos', 'Razón de mortalidad materna','Descrición de la razón de mortalidad materna'], axis=1)


#Ver tabla mortalidad3

mortalidad4.head()

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Descripción del tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,30000 a 39999 habitantes,1,311020001 Valladolid
1,35,CASADO,9,30000 a 39999 habitantes,1,310500001 Mérida
2,29,CASADO,4,2500 a 4999 habitantes,1,310560001 Oxkutzcab
3,36,CASADO,1,1 a 999 habitantes,1,310500001 Mérida
4,30,CASADO,0,No Especificado.,0,090160000 No especificado

In [82]:
### ¿Cuántas edades diferentes tenían las madres cuando fallecieron? 

#Obten los estadísticos para esta columna y los valores de las edades diferentes.

E=mortalidad4["Edad cumplida"]

E.describe()

count    17232.000000
mean        29.765727
std         36.916010
min         11.000000
25%         22.000000
50%         28.000000
75%         34.000000
max        998.000000
Name: Edad cumplida, dtype: float64

## Valores de los años de defunción

In [83]:
# Imprime los valores de los años de defunción

print(E.unique())

[ 29  35  36  30  20  27  43  31  39  45  42  17  38  26  21  22  40  44
  34  41  33  13  24  25  37  19  23  32  28 998  15  46  48  16  18  12
  47  14  51  50  54  49  11  53  81  70  82  59  86  65]

## Tipos de escolaridad existen

In [86]:
#Cuántos tipos de escolaridad existen

mortalidad2['Descripción de la escolaridad'].unique()

array(['PRIMARIA INCOMPLETA', 'SECUNDARIA INCOMPLETA', 'PROFESIONAL',
       'NINGUNA', 'SECUNDARIA COMPLETA', 'NO ESPECIFICADO', 'POSGRADO',
       'PRIMARIA COMPLETA', 'BACHILLERATO O PREPARATORIA COMPLETA',
       'BACHILLERATO O PREPARATORIA INCOMPLETA', 'NO ESPECIFICADO\r\n',
       'PREESCOLAR'], dtype=object)

## Entidad con mayor número muertes

In [92]:
#Qué entidad tiene mayor número muertes

EO=mortalidad2['Descripción de la entidad de ocurrencia']
#print(EO)
EO.describe()

count      17232
unique        34
top       México
freq        1913
Name: Descripción de la entidad de ocurrencia, dtype: object

# Información gráfica

## Gráfica de línea

## Relación entre dos variables

## Gráfica de histogramas

## Gráfica de barras

## Correlación para 4 variables